<% if @valid %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @valid
      .errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>